eg___Win32_Debug
eg___Win32_Release
setup___Win32_Debug
setup___Win32_Release
test___Win32_Debug
test___Win32_Release
Debug
Release
*.plg
egads.ncb
egads.opt
egads.h
Makefile
config.cache
config.log
config.status
.libs
libegads.la
*.lo
egads
egads.sh
.vimrc
libtool
